@model IEnumerable<TestApplication.DAL.Entities.User>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
        </td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="UserDelete" asp-controller="User" asp-route-userid="@user.Id">Удалить пользователя</a>
        </td>
    </tr>
    }
</table>